.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #FEFEFE; /* King Flex orange */
  z-index: 1000;
  padding-top: env(safe-area-inset-top);
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.logo {
  display: flex;
  justify-content: center;
  flex: 1;
}

.logo img {
  height: 30px;
}

.account-icon,
.cart-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  text-decoration: none;
  font-size: 0.8rem;
  background: none;
  border: none;
  cursor: pointer;
}

.account-icon i,
.cart-icon i {
  font-size: 1.2rem;
  margin-bottom: 2px;
}

.cart-quantity {
  position: absolute;
  top: 0;
  right: -5px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 0.7rem;
}

.navbar-bottom {
  padding: 10px 15px;
  background-color: #FEFEFE; 
}

.search-container {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

.search {
  display: flex;
  width: 100%;
}

.search input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #F8AB47;
  border-radius: 0 4px 4px 0;
  font-size: 16px;
}

.search button {
  padding: 10px 15px;
  background-color: #F8AB47;
  color: #FEFEFE;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  border-top: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-height: 300px;
  overflow-y: auto;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.suggestions li {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.suggestions li:hover {
  background-color: #f0f0f0;
}

.suggestion-image {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 10px;
}

.suggestion-name {
  font-weight: bold;
}

@media (max-width: 768px) {
  .navbar-top {
    padding: 5px 10px;
    position: relative;
  }

  .logo {
    position: absolute; 
    left: 50%; 
    transform: translateX(-50%); 
    top: 50%; 
    transform: translate(-50%, -50%); 
  }
  .logo img {
    height: 65px;
  }

  .account-icon,
  .cart-icon {
    z-index: 1;
    font-size: 0.7rem;
  }

  .account-icon i,
  .cart-icon i {
    font-size: 1rem;
  }

  .navbar-bottom {
    padding: 5px 10px;
  }

  .search input {
    font-size: 14px;
    padding: 8px;
  }

  .search button {
    padding: 8px 12px;
  }
}

@media (max-width: 480px) {
  .logo img {
    height: 40px;
  }

  .account-icon,
  .cart-icon {
    font-size: 0.6rem;
  }

  .account-icon i,
  .cart-icon i {
    font-size: 0.9rem;
  }

  .search input {
    font-size: 12px;
    padding: 6px;
  }

  .search button {
    padding: 6px 10px;
  }
}